.general {
  display: flex;
  justify-content: center;
  gap: 4%;
}

@media (max-width: 800px) {
  .general {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-side {
    width: 85%;
  }

  .right-side {
    margin-top: 4%;
    width: 85%;
  }
}
